@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family:
    Lato,
    Montserrat,
    sans-serif;
  font-size: 19px;
  color: $main-color-font;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a.router-link-active {
   color: $second-color-font;
}

a.router-link-exact-active{
   color: $second-color-font;
}


