
$default: #000000;
$default-success: #4ac3ce;
$default-error: red ;
$header-background: #DEF2F1;
$admin-left-side-background:#3AAFA9;
$second-color-font:#FEFFFF;
$main-color-font:#17252A;
$second-color:#2B7A78;
$header-color:#1bbc9b;